Desktop/spc_yo/fuentes/Web_PYC/App_WebReferences/wscorporativo/AccesoActiveDirectory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.mop.cl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.mop.cl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.mop.cl/">
      <s:element name="ValidaUsuarioAD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaUsuarioADResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidaUsuarioADResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidaUsuarioADSoapIn">
    <wsdl:part name="parameters" element="tns:ValidaUsuarioAD" />
  </wsdl:message>
  <wsdl:message name="ValidaUsuarioADSoapOut">
    <wsdl:part name="parameters" element="tns:ValidaUsuarioADResponse" />
  </wsdl:message>
  <wsdl:portType name="AccesoActiveDirectorySoap">
    <wsdl:operation name="ValidaUsuarioAD">
      <wsdl:input message="tns:ValidaUsuarioADSoapIn" />
      <wsdl:output message="tns:ValidaUsuarioADSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccesoActiveDirectorySoap" type="tns:AccesoActiveDirectorySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidaUsuarioAD">
      <soap:operation soapAction="http://www.mop.cl/ValidaUsuarioAD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccesoActiveDirectorySoap12" type="tns:AccesoActiveDirectorySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidaUsuarioAD">
      <soap12:operation soapAction="http://www.mop.cl/ValidaUsuarioAD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccesoActiveDirectory">
    <wsdl:port name="AccesoActiveDirectorySoap" binding="tns:AccesoActiveDirectorySoap">
      <soap:address location="https://wscorporativo.mop.gob.cl/Funcionarios/ActiveDirectory/AccesoActiveDirectory.asmx" />
    </wsdl:port>
    <wsdl:port name="AccesoActiveDirectorySoap12" binding="tns:AccesoActiveDirectorySoap12">
      <soap12:address location="https://wscorporativo.mop.gob.cl/Funcionarios/ActiveDirectory/AccesoActiveDirectory.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>